.header-nav {
  position: sticky;
  box-shadow: 0px 10px 20px #ccc;
  margin-bottom: 10px;
}
.header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header-ul li button {
  margin: auto 0;
}

.header-h2 {
  font-family: monospace;
  font-size: 30px;
}

.header-h3 {
  font-family: monospace;
  font-size: 20px;
}
